      <!-- Sidebar Start -->
      <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
            <a  class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary">learning</h3>
            </a>

            <div class="navbar-nav w-100">
                <a routerLink="/users" class="nav-item nav-link my-1 active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>

            </div>
            <div class="navbar-nav w-100">
                <a routerLink="/verfication" class="nav-item nav-link my-1 active"><i class="fa fa-tachometer-alt me-2"></i>Id Verification</a>

            </div>
        </nav>
    </div>
    <!-- Sidebar End -->
